# Beginner Python and Math for Data Science
## Lecture 3
### Python Data Types, Numeric Types, Arithmetic and Basic Strings

__Purpose:__
The purpose of this lecture is to introduce data types, and focus on numeric data types, arithmetic and basic strings. 

__At the end of this lecture you will be able to:__
1. Understand different data types
2. Learn about numeric data types such as integers, floats and complex numbers
3. Work with arithmetic operations
4. Basic strings
5. Understand type conversion
6. __who__ and __whos__ magic command

# Part A: Introductory Topics for Python Programming

## 1.1 Data Types in Python

__Overview:__
- A __Data Type__ refers to the category in which the object you are creating belongs to 
- Every variable we create will belong to one of Python's __[Built-In (Standard) Data Types](https://docs.python.org/3/library/stdtypes.html#built-in-types)__
- Depending on the way we create the variable, we will be specifying the Type to which we want that variable to belong to
- Python has 4 main __Built-In Data Types:__ 

>1. __[Numeric Types](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)__: int, float and complex
>2. __[Sequence Types](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)__: list, tuple and range
>3. __[Set Types](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)__: set and frozenset
>4. __[Mapping Types](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)__: dict

__Helpful Points:__
1. You can use the functions `type()` or `isinstance()` to view the type of any object
2. These 4 Built-In Types will be explained in great detail in a future lecture. However, in this lecture we will review the __Numeric Types__ (int, float, and complex) and one form of the __Sequence Types__ (Text Sequence Type - [String](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str))

### 1.1.1 Comparison of Python's Built-In Data Types

__Overview:__
- In general, the Data Types in Python can be distinguished by one characteristic -  __[Mutability](https://en.wikipedia.org/wiki/Immutable_object):__ which refers to the ability of a user to change the object AFTER the object has been created 
- Some Data Types in Python are __Mutable__ (their contents CAN be changed after creation of the variable) and other Data Types in Python are __Immutable__ (their contents CAN NOT be changed after creation of the variable)
- We will see the concept of mutability as it plays out for each data type
- See below for a classification of Built-In Data Types based on Mutability:
> 1. __Mutable Types__: `list`, `set`, `dict`
> 2. __Immutable Types__: `int`, `float`, `complex`, `str`, `tuple`, `bool`, and `range`

__Helpful Points:__
1. In some cases, you will have the choice of which Data Type you choose to use for an object. This decision may have consequences so we will explore later the instances where it is advantageous to use one type over another

## 1.2 Numeric Types in Python

__Overview:__
- There are 3 distinct numeric types in Python: integers (`int`), floating point numbers (`floats`) and complex numbers (`complex`)
> 1. __Int__: `int` type refers to [Integers](https://en.wikipedia.org/wiki/Integer) which describe a number that can be written without a fractional component
> 2. __Float__: `float` type refers to [Floating Point Numbers](https://en.wikipedia.org/wiki/Floating-point_arithmetic#Alternatives_to_floating-point_numbers) which describe a number that has a decimal component
> 3. __Complex__: `complex` type refers to [Complex Numbers](https://en.wikipedia.org/wiki/Complex_number) which describes a number that can be expressed in the form of $a+bi$, where a and b are real numbers and i is imaginary number

__Helpful Points:__
1. When you assign an integer value to a variable, the variable automatically becomes an `int` type
2. When you assign a decimal value to a variable, the variable automatically becomes a `float` type
3. You can convert an `int` to a `float` type or a `float` type to an `int` type using the functions `int()` and `float()`, however this is not commonly used. Both are examples of __[Type Conversion](https://en.wikipedia.org/wiki/Type_conversion)__

__Practice:__ Example of Numeric types in Python

### Example 1 (Examples of int):

In [1]:
a = 1
type(a)

int

In [2]:
isinstance(a, int)

True

### Example 2 (Examples of float):

In [3]:
b = 1.0
type(b)

float

In [4]:
isinstance(b, float)

True

### Example 3 (Examples of complex):

In [5]:
c = 3+1j
type(c)

complex

In [6]:
isinstance(c, complex)

True

### Example 4 (Explicit Type Conversion):

In [7]:
int(2.5)

2

In [8]:
int(3.9)

3

The type conversion between `float` and `int` results in the number being rounded down

In [9]:
float(3)

3.0

The type conversion between `int` and `float` results in an additional decimal place being added to the number

## 1.3 Arithmetic in Python

__Overview:__
- Python allows the capability of performing multiple arithmetic operations such as:
    - Addition (`+`)
    - Subtraction (`-`)
    - Multiplication (`*`)
    - Division (`/`)
    - Floor Divison (`//`)
    - Remainder (`%`)
    - Exponentiation (`**`)
    
__Helpful Points:__
1. If you are performing an arithmetic operation using an `int` AND `float`, the result will become a type `float`
2. The `^` symbol in Python is NOT the exponent, instead it refers to the [Bitwise Operation XOR](https://en.wikipedia.org/wiki/Bitwise_operation#XOR) (more on this below)
3. Dividing by zero produces an error (`ZeroDivisionError: division by zero`)
4. Base Python also has some built-in mathematical functions such as `max()`, `min()`, `sum()`, `round()`, etc.

__Practice:__ Examples of arithmetic in Python

### Example 1 (Simple Arithmetic):

In [10]:
# addition
3 + 2

5

In [11]:
type(3 + 2)

int

In [12]:
# subtraction
10 - 8

2

In [13]:
type(10 - 8)

int

In [14]:
# multiplication
3 * 5

15

In [15]:
type(3 * 5)

int

In [16]:
# division
10 / 3

3.3333333333333335

In [17]:
type (10 / 3)

float

In [18]:
# floor division 
7 // 4

1

In [19]:
type(7 // 4)

int

In [20]:
# remainder
7 % 4

3

In [21]:
type(7 % 4)

int

In [22]:
# exponentiation 
2 ** 3

8

In [23]:
type(2 ** 3)

int

### Example 2 (Advanced Arithmetic):

In [24]:
2 + 4.0 / 3e2

2.013333333333333

In [25]:
-2 ** 2 + 1j

(-4+1j)

In [26]:
(-2) ** 2 + 1j

(4+1j)

### Example 3 (Dividing by 0):

In [27]:
2e3 / 0

ZeroDivisionError: float division by zero

### Example 4 (Built-In Math Functions):

In [28]:
abs(-2)

2

In [29]:
max(2,3,4,1)

4

In [30]:
round(3.42341)

3

### Example 5 (Arithmetic with float and int):

In [31]:
type(3.0 + 2)

float

### Problem 1:
Create 4 variables called `a`, `b`, `c`, `d` and assign them values of 10, 20, 30, and 40 respectively.

Create a variable `e` that is the sum of `a`, `b`, `c`, and `d` and then show the output of the variable `e`
- Do not use any built-in Python functions

In [35]:
a,b,c,d=10,20,30,40
e=a+b+c+d
print(e)

100

### Problem 2:

Calculate the area of a circle which is given by the following formula: $A = \pi * r^2$ and show the output of the area
- Create a variable `pi` that will store the value 3.14 
- Create a variable `r` that will store the value 3
- Then create a variable `area` that will store the area of the circle
- Show the output of the `area` variable
- __BONUS__: try using simulataneous assignments

In [37]:
pi=3.14
r=3
area=10
area=pi*r*2
print(area)

18.84

### Problem 3:

Calculate the minimum between the absolute value of -10 and the square of -4
- Create a variable `abs_val` that will store the absolute value of -10 
- Create a variable `square_val` that will store the square of -4
- Then create a variable `minimum` that will store the minimum value of the two variables above 
- Show the output of the `minimum` variable
- __BONUS__: try using simulataneous assignments

In [2]:
abs_value,square_value = abs(-10), -4**2
minimium= min(abs_value,square_value)
print(minimium)

-16

## 1.4 Text Sequence Type (Str) in Python

__Overview:__
- A __String__ is a sequence of characters and is handled in Python as a `str` type
- Textual data (words, sentences, paragraphs, etc.) are stored as a String 
- Strings can be written in 3 main ways:
> 1. __Single quotes__: this allows embedded double quotes
> 2. __Double quotes__: this allowes embedded single quotes
> 3. __Triple quotes__ (with either single or double quotes)

__Helpful Points:__
1. Recall earlier in the discussion of Comments that multi-line strings are possible with triple quotes
2. __Type Conversion__ is possible between some strings and numeric types 

__Practice:__ Examples of strings in Python

### Example 1 (Creating a String with Single Quotes):

In [41]:
quote = 'I would like to be a Superhero'

In [42]:
quote

'I would like to be a Superhero'

In [43]:
type(quote)

str

### Example 2 (Creating a String with Double Quotes):

In [44]:
superhero_1 = "Clark"
superhero_2 = "Bruce"

In [45]:
superhero_1

'Clark'

In [46]:
type(superhero_1)

str

### Example 3 (Creating a String with Triple Quotes):

In [47]:
birthday_month = """April"""

In [48]:
birthday_month

'April'

In [49]:
type(birthday_month)

str

### Example 4 (Creating a String with Single and Double Quotes):

In [50]:
print('That's Cool')

SyntaxError: invalid syntax (<ipython-input-50-58542107c921>, line 1)

In [51]:
print("That's Cool")

That's Cool

In [52]:
'He said: "Hello"'

'He said: "Hello"'

### Example 5 (Creating a String with Single, Double, and Triple Quotes):

In [53]:
print('''She responded: "It's a nice day"''')

She responded: "It's a nice day"

### Example 6 (Type Conversion between Strings and Numeric Types):

In [54]:
# convert float to string
x = 3.5
str(x)

'3.5'

In [55]:
# convert int to string
x = 10
str(10)

'10'

In [56]:
# convert string to float
x = "3.5"
float(x)

3.5

In [57]:
# convert string to int
x = "10"
int(x)

10

In [58]:
# convert string to int
x = "Clark"
int(x)

ValueError: invalid literal for int() with base 10: 'Clark'

### Example 7 (Using Magic Commands `%who` and `%whos`):

In [59]:
# displays all the variables that are currently saved in the environment
%who

a	 abs_val	 area	 b	 birthday_month	 c	 d	 e	 pi
quote	 r	 square_val	 superhero_1	 superhero_2	 x

In [60]:
# displays all the variables that are integers
%who int

a	 abs_val	 b	 c	 d	 e	 r	 square_val

In [61]:
# displays all the variables that are floats
%who float

area	 pi

In [62]:
# displays all the variables that are complex
%who complex

No variables match your requested type.

In [63]:
# displays all the variables that are strings
%who str

birthday_month	 quote	 superhero_1	 superhero_2	 x

In [64]:
# displays all the variables that are currently saved in the environment in a nice fashion
%whos

Variable         Type     Data/Info
-----------------------------------
a                int      10
abs_val          int      10
area             float    18.84
b                int      20
birthday_month   str      April
c                int      30
d                int      40
e                int      100
pi               float    3.14
quote            str      I would like to be a Superhero
r                int      3
square_val       int      -256
superhero_1      str      Clark
superhero_2      str      Bruce
x                str      Clark

In [65]:
%whos int

Variable     Type    Data/Info
------------------------------
a            int     10
abs_val      int     10
b            int     20
c            int     30
d            int     40
e            int     100
r            int     3
square_val   int     -256

# ANSWERS

### Problem 1:
Create 4 variables called `a`, `b`, `c`, `d` and assign them values of 10, 20, 30, and 40 respectively.

Create a variable `e` that is the sum of `a`, `b`, `c`, and `d` and then show the output of the variable `e`
- Do not use any built-in Python functions

In [ ]:
a, b, c, d = 10, 20, 30, 40
e = a + b + c + d
print("The sum of a + b + c + d is:", e)

### Problem 2:

Calculate the area of a circle which is given by the following formula: $A = \pi * r^2$ and show the output of the area
- Create a variable `pi` that will store the value 3.14 
- Create a variable `r` that will store the value 3
- Then create a variable `area` that will store the area of the circle
- __BONUS__: try using simulataneous assignments

In [ ]:
# method 1
pi = 3.14
r = 3
area = pi*r**2
print("The area of a circle with radius equal to", r, "is:", area)

In [ ]:
# method 2
pi, r = 3.14, 3
area = pi*r**2
print("The area of a circle with radius equal to", r, "is:", area)

### Problem 3:

Calculate the minimum between the absolute value of -10 and the square of -4
- Create a variable `abs_val` that will store the absolute value of -10 
- Create a variable `square_val` that will store the square of -4
- Then create a variable `minimum` that will store the minimum value of the two variables above 
- Show the output of the `minimum` variable
- __BONUS__: try using simulataneous assignments

In [ ]:
# method 1
abs_val = abs(-10)
square_val = (-4) ** 2
minimum = min(abs_val, square_val)
print("The minimum of the absolute value of -10 and the square of -4", "is", minimum)

In [ ]:
# method 2
abs_val, square_val = abs(-10), (-4) ** 2
minimum = min(abs_val, square_val)
print("The minimum of the absolute value of -10 and the square of -4", "is", minimum)